# ignora binarios de aplicativos
*.dll
*.exe
*.com
*.class

# ignora arquivos compactados
*.zip
*.bzip2
*.gzip
*.gz
*.rar
*.7z
*.tar

# ignora arquivos de log
*.log

# ignora arquivos binarios de aplicacao
*.pdf

# ignora arquivos criados pelo maven
/target

# ignora arquivos da workspace do eclipse
.settings/
.classpath
.project
